$main-color: #2E963D; //42b983
$minor-color: #333333;
$line-color: #eeeeee;
$base-px: 75; //px

@mixin flex-box {
    display: flex;
    display: -webkit-flex;
}

@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    #{$property}: $value;
}

@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

@function px2rem($px) {
    @return ($px / $base-px) + rem;
}

%hr {
    background-color: $line-color;
    height: 1px;
    border: none;
}

.margin-top-25 {
    margin-top: px2rem(25) !important;
}

.margin-top-30 {
    margin-top: px2rem(30) !important;
}

.margin-top-5 {
    margin-top: px2rem(5) !important;
}

.margin-top-10 {
    margin-top: px2rem(10) !important;
}

.margin-bottom-20 {
    margin-bottom: px2rem(20);
}